{% extends 'projects/base.html' %}

{% block title %}Home - Lawrence Tinago{% endblock %}

{% block content %}
    <div class="container mx-auto">
        <div class="flex flex-wrap">
            <div class="w-full lg:w-1/2 px-4 flex justify-center items-center">
                <div>    
                    <section class="mt-4 text-center">
                        <h1>Expert In:</h1>
                        <p>
                            Backend | Web Apps | Automation
                        </p>
                    </section>
                    <section class="mt-8 text-center">
                        <!-- Button to Scroll to Projects -->
                        <a href="#projects-section" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                            View my work
                        </a>
                    </section>
                </div>
            </div>
            
            <!-- Right Side: Photo -->
            <div class="w-full lg:w-1/4 px-4">
                <!-- Image Placeholder (Replace with your photo) -->
                <img src="static/images/law.png" alt="Your Photo" class="w-full h-auto">
            </div>
        </div>
    </div>


    <!-- Projects Section -->
    <section id="projects-section" class="mt-8">
        <h2 class="text-center text-3xl font-semibold mb-6">Projects</h2>
        
        <!-- Backend Projects Section -->
        <div class="bg-gray-200 py-8">
            <div class="container mx-auto text-center">
                <h3 class="text-2xl font-semibold mb-4">Backend</h3>
                <!-- Projects displayed in columns -->
                <ul class="grid grid-cols-1 lg:grid-cols-3 gap-4">
                    <!-- Replace with actual project thumbnails and titles -->
                    <li>
                        <a href="#">
                            <img src="static/images/law.png" alt="Backend-1">
                            <p class="mt-2">Backend-1</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="static/images/law.png" alt="Backend-2">
                            <p class="mt-2">Backend-2</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="static/images/law.png" alt="Backend-3">
                            <p class="mt-2">Backend-3</p>
                        </a>
                    </li>
                    <!-- Add more projects -->
                </ul>
            </div>
        </div>

        <!-- Web App Development Projects Section -->
        <div class="bg-gray-300 py-8">
            <div class="container mx-auto text-center">
                <h3 class="text-2xl font-semibold mb-4">Web App Development</h3>
                <!-- Projects displayed in columns -->
                <ul class="grid grid-cols-1 lg:grid-cols-3 gap-4">
                    <!-- Replace with actual project thumbnails and titles -->
                    <!-- ... -->
                    <li>
                        <a href="#">
                            <img src="static/images/law.png" alt="App-1">
                            <p class="mt-2">App-1</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="static/images/law.png" alt="App-2">
                            <p class="mt-2">App-2</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="static/images/law.png" alt="App-3">
                            <p class="mt-2">App-3</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Automation Projects Section -->
        <div class="bg-gray-400 py-8">
            <div class="container mx-auto text-center">
                <h3 class="text-2xl font-semibold mb-4">Automation</h3>
                <!-- Projects displayed in columns -->
                <ul class="grid grid-cols-1 lg:grid-cols-3 gap-4">
                    <!-- Replace with actual project thumbnails and titles -->
                    <!-- ... -->
                    <li>
                        <a href="#">
                            <img src="static/images/law.png" alt="Auto-1">
                            <p class="mt-2">Auto-1</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="static/images/law.png" alt="Auto-2">
                            <p class="mt-2">Auto-2</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="static/images/law.png" alt="Auto-3">
                            <p class="mt-2">Auto-3</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
{% endblock %}
